<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-blue-print-log.txt">
 
  <targets>
    <target name="DatabaseLogger" xsi:type="Database"
              dbProvider="Npgsql.NpgsqlConnection, Npgsql"
              connectionString="Host=localhost;Port=5432;Username=postgres;Password=1234qqqQ;Database=BluePrintDB"
             >
   <!--
   CREATE TABLE logdetail
  ( 
      Id serial primary key,
      Application character varying(100) NULL,
      Logged text,
      Level character varying(100) NULL,
      Message character varying(8000) NULL,
      Logger character varying(8000) NULL, 
      MachineName character varying(8000) NULL,
	    MethodName character varying(8000) NULL,
      Parameters character varying(8000) NULL,
      Exception character varying(8000) NULL
  )
-->
 
      <commandText>
        insert into logdetail (
        Application, Logged, Level,
        Message, Logger, MachineName,
        MethodName,Parameters, Exception
        ) values (
        @Application,
        @Logged,
        @Level,
        @Message,
        @Logger,
        @MachineName,
        @MethodName,
        @Parameters,
        @Exception
        );
      </commandText>

      <parameter name="@application" layout="BluePrint.WebApi" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@MachineName" layout="${machineName}" />
      <parameter name="@MethodName" layout="${mdc:item=MethodName}" />
      <parameter name="@Parameters" layout="${mdc:item=Parameters}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

    <target xsi:type="File" name="FileLogger"  fileName="c:\temp\blue-print-logs-${shortdate}.json">
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:tostring}" />
        <attribute name="eventProperties" encode="false" >
          <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="2"/>
        </attribute>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="DatabaseLogger" minlevel="Trace" writeTo="DatabaseLogger" />
    <logger name="FileLogger" levels="Info,Error" writeTo="FileLogger" />
  </rules>
</nlog>